/* Tag Styles: */
body {
  background-color: #181818fd;
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0;
  padding-top: 100px;
}

header {
  background-color: #0c0c0c;
  width: 100%;
  top: 0;
  position: fixed;
  overflow: hidden;
  display: flex;
  /* Use flexbox for horizontal alignment */
  align-items: center;
  justify-content: left;
  /* Spread items apart */
  padding: 10px 20px;
  /* Add padding to the top and sides */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Add a subtle shadow */
}

main {
  margin: 40px;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  margin-left: 10px;
  color: white;
}

a {
  color: rgb(208, 168, 235);
  text-decoration: none;
}

/* Custom classes: */
/* Style as navbar on top of the screen */
.custom-nav {
  padding: 0;
  margin: 0;
  display: flex;
}

.custom-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
}

.custom-menu-item {
  display: inline-block;
}

.custom-menu-item * {

  color: white;
  padding: 10px 20px;
  background-color: inherit;
  text-decoration: none;
}

.custom-menu-item:hover * {
  text-decoration: underline;
  font-size: 1.1em;
}

.custom-site-title {
  display: flex;
  /* Use flexbox for inner alignment */
  align-items: center;
  /* Vertically center items */
  margin: 0;
  padding: 0;
}

.custom-site-title * {
  color: rgb(194, 146, 250);
}

.custom-project-preview-container {
  background-color: rgb(46, 46, 46);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  max-width: 600px;
  height: 500px;
  overflow: auto;
 
}

.custom-project-preview-container:hover {
  background-color: rgb(29, 24, 37);
}

.thumbnail {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  display: block;
}

.custom-button {
  background-color: rgb(140, 39, 255);
  border-color:rgb(140, 39, 255) ;
  color: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
}

.custom-button:hover {
    background-color: rgb(89, 27, 160);
}
.custom-button a {
  color: white;
}

.custom-contact-container a {
  padding: 10px;
  color: white;
}
.custom-contact-container i {
  padding: 10px;
  color: rgb(140, 39, 255);
}

.custom-contact-container a:hover {
  color: rgb(140, 39, 255);
}

.custom-content-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
}


.custom-partial-carousel {
  display: flex;
  overflow: hidden;
}

.custom-partial-carousel .partial.active {
  display: flex;
  animation: fadeIn 1.5s ease-in-out;
}

.custom-partial-carousel .partial {
  display: none;
  min-height: 500px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.carousel-controls {
  text-align: center;
  margin-top: 10px;
}
